@model int
<div class="container">
    <div class="col-12 text-center">
        <h3>Your Order Number @Model Has Been Successful Placed  </h3>  
        
        <img src="~/images/3891942.jpg"  width="400" height="400">
       
    </div>
    <div class="col-12 text-center" >
        <br />

        <h2>Thanks</h2><br />
    </div>
    
</div>