@model Category
@{
    ViewBag.PageTitle = "Category Mangement";
    ViewBag.CardTitle = "Category Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}

<div class="col-md-5">

<form method="post">
    <Div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control " />
        <span asp-validation-for="Name" class="text-danger"></span>
    </Div>
    <Div class="mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control " ></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </Div>
    <Div class="mb-3">
        <button type="submit" class="btn btn-primary">Craete </button>
        <a asp-action="index" asp-controller="Category" class="btn btn-warning"> Back To List</a>

    </Div>




</form>
</div>


@section Scripts
{
    <Partial name="_ValidationScriptsPartial" />

}